/* html {
    font-family: 'Poppins', sans-serif;
    margin: 0;


    padding: 15px;
}

img svg {
    vertical-align: middle;
}

body {
    font-family: "Poppins";
    color: #616161;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

div {

    align-items: center !important;

}

.container-xl {
    width: 100%;
    padding: 0 12px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.horizontalwaladivs {
}


footer {
    background-color: #000000;
    padding: 50px 0;
    margin-top: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

footer a {
    color: white;
    text-decoration: none;
}
 */

/* Add this CSS to your external stylesheet or in a <style> tag in the head of your HTML file */

html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 15px;
}

img svg {
    vertical-align: middle;
}

body {
    font-family: "Poppins";
    color: #616161;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.container-xl {
    width: 100%;
    padding: 0 12px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.horizontalwaladivs {
    display: flex;
}

.horizontalwaladivs {

   
}

.horizontalwaladivs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.vertical-div {
    width: 100%;
}
.horizontalwaladivs h5{
    margin: 0 0 30px;
    font-size: 14px;
    font-weight: 400; 
}


footer {
    background-color: #000000;
    width: 100%;
    padding: 50px 0;
    margin-top: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);

}

footer a {
    color: white;
    text-decoration: none;
}


.social-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    width: 100%;
    align-items: center;
    padding: 23px 0;
    text-align: center;


}

.social-links li {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.social-links ul {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.social-links li:last-child {
    margin-right: 1.875rem;
    

}
.social-links img,
svg {
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;


}

.credds{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}